<div class="container my-5">
    <h1 class="mb-3">Add New Driver</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addDriver()">
                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName" 
                  name="firstName" [(ngModel)]="addDriverRequest.firstName">
                </div>
                
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName"
                    name="lastName" [(ngModel)]="addDriverRequest.lastName">
                </div>

                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber"
                    name="phoneNumber" [(ngModel)]="addDriverRequest.phoneNumber">
                  </div>
                  
                  <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email"
                      name="email" [(ngModel)]="addDriverRequest.email">
                  </div>

                <button type="submit" class="btn btn-primary">Add</button>
              </form>
        </div>
    </div>
    
</div>